# Node dependencies
node_modules/

# VSCode workspace settings, Mac files, etc.
.vscode/
.DS_Store

# Environment variables
.env

# Prisma generated client
prisma/generated/

# Build output
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Operating system files
*.swp
